{% extends "header.html" %}
{% block content %}
<div class="league-list">
	<p>
		<strong>Group members:</strong>
	    <ul>
	        <li>Jojo Rostock</li>
	        <li>Phillip Vea</li>
	    </ul>   
	</p>
	<p>
		<strong>Project description: </strong>
	</p>
	<p>This website is a sports notification website where users can go to see scores, league standings, and to receive notifications about games from their favorite teams and leagues. Users can add their phone number to receive text alerts about game starts and final scores. Additionally, there is a message board that allows users to voice their opinions on current games and events.
	</p>
</div>
{% endblock %}