{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    <h2>Teams</h2>
    {% for team in results %}
    <div class="media">
        <img src="{{ team.strTeamBadge }}" class="mr-3 movie" alt="missing">
        <div class="media-body">
        
        <h5 class="mt-0"><a href="{{url_for('main.team_detail', team_id=team.idTeam)}}">{{ team.strTeam }}</a> ({{ team.strLeague }})</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}