{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if team %}

{# Display card for the movie details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ team.strTeam }} ({{ team.strLeague }})
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Logo: </b><img src="{{ team.strTeamBadge }}" class="mr-3 movie" alt="missing"></li>
          {% if team.strDescriptionEN %}
          <li class="list-group-item"><b>Description :</b> {{ team.strDescriptionEN }}</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}