{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if team %}

{# Display card for the Team details #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header bg-dark text-white">
        <row class="row justify-content-center name-col">
          <div class="col-7 named-column">
            {{ team.strTeam }} (<a href="{{url_for('main.league_detail', league_id=team.idLeague)}}" class="team-image">{{ team.strLeague }}</a>)
          </div>
          <div class="col-5">
            <img class="team-image" src="{{team.strTeamBadge}}">
          </div>
        </row>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">

          
          {% if team.strDescriptionEN %}
          <li class="list-group-item"><b>Description:</b> {{ team.strDescriptionEN }}</li>
          {% endif %}
          <li class="list-group-item">
            <row class="row justify-content-center name-col">
            {% if teamLastFive %}
            <div class="col-6">
              <b>Recent Games:</b>
              <ul>
              {% for event in teamLastFive %}
              <div>
                <a href = "{{url_for('main.game_detail', game_id=event.idEvent)}}">{{event.strHomeTeam}} {{event.intHomeScore}} vs {{event.strAwayTeam}} {{event.intAwayScore}} on {{event.dateEventLocal}}</a>
              </div>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% if teamNextFive %}
            <div class="col-6">
              <b>Upcoming Games:</b>
              <ul>
              {% for event in teamNextFive %}
              <div>
                <a href = "{{url_for('main.game_detail', game_id=event.idEvent)}}">{{event.strHomeTeam}} vs {{event.strAwayTeam}} on {{event.dateEventLocal}}</a>
              </div>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          </row>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}