{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col">
        <h2>{{ username }}'s Comments</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Comments <small class="float-right">{{ comments.count() }}</small></h1>
        <ul class="media-list">
            {% for comment in comments %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ comment.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('movie_detail', movie_id=review.imdb_id) }}">
                            {{ comment.movie_title }}
                        </a>
                    </strong>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}